#content{
	width:665px;
	height: 414px;
	margin:10px auto;
	position: relative;
	z-index: 1;
}
img{
	position: absolute;

}
#control{
	position: absolute;
	right:10px;
	bottom:10px;
}
#control button{
	width:60px;
	height:20px;
	color:#fff;
	background: #D7819B;
	border:0;
	border-radius: 3px;
	margin:0 5px;

}
#ex{
	display: inline-block;
	width:40px;
	height:20px;
	background:#2FDE68 ;
	color:#fff;
	text-align: center;
}